main {
  margin: 68px 20px 20px 180px;
  .profil-header {
    h1 {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 500;
      font-size: 48px;
      line-height: 24px;
      margin-bottom: 40px;
    }
    .name {
      color: $primary;
    }
  }
  .profile-body {
    display: flex;
    flex-wrap: wrap;
    margin: 80px 0;
    gap: 30px;
    .charts {
      width: 70%;
      @media (max-width: 1500px) {
        width: 100%;
        order: 2;
      }
      .activity {
        background-color: #fbfbfb;
        padding: 30px 20px;
        margin-right: 40px;
        width: 100%;
        border-radius: 5px;
      }
      .mini-charts {
        display: flex;
        gap: 30px;
        margin-top: 30px;
        justify-content: space-between;
        flex-wrap: wrap;
        .sessions {
          background-color: $primary;
          padding: 30px 0;
          width: 30%;
          border-radius: 5px;
          @media (max-width: 1500px) {
            width: 48%;
          }
          @media (max-width: 1000px) {
            width: 100%;
          }
          p {
            margin: 50px 50px;
          }
        }
        .performance {
          background-color: #282d30;
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0212249);
          padding: 20px;
          width: 30%;
          border-radius: 5px;
          @media (max-width: 1500px) {
            width: 47%;
          }
          @media (max-width: 1000px) {
            width: 100%;
          }
        }
        .score {
          background: #fbfbfb;
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0212249);
          z-index: 10;
          width: 300px;
          padding: 15px;
          width: 30%;
          border-radius: 5px;
          @media (max-width: 1500px) {
            width: 47%;
          }
          @media (max-width: 1000px) {
            width: 100%;
          }
        }
      }
    }

    .nutrition {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      gap: 30px;
      width: 25%;
      justify-content: space-between;

      @media (max-width: 1500px) {
        flex-direction: row;
        width: 100%;
        order: 1;
        margin-bottom: 30px;
      }
      & > div {
        background-color: #fbfbfb !important;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0212249);
        padding: 30px;
        display: flex;
        gap: 40px;
        align-items: center;
        border-radius: 5px;
        .amount {
          font-weight: 700;
          font-size: 20px;
          line-height: 24px;
          color: #282d30;
        }
        .name {
          font-weight: 500;
          font-size: 14px;
          line-height: 24px;
          color: #74798c;
        }
      }
    }
  }
}
