.score-container {
  text-align: center;
  position: absolute;
  top: 30px;
  left: 20%;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #282d30;
  .score {
    font-size: 26px;
    background-color: #fff !important;
  }
  .description {
    opacity: 0.8;
    font-weight: 500;
  }
}
